@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    body {
      @apply dark:bg-[#0d121b] transition-colors duration-500;
    }
  }


html,body{
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
